body{
    margin: 0;
    padding: 40vh;
    width: 70vh;
    height: 50vh;
    display: grid;
    font-family:sans-serif;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.container{
    width: 100vh;
    height:70vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: center;
    color: black;
}
.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}
.container h2{
    margin: 0;
    text-align:center;
}
button:hover .stars{
    display: block;
    filter: drop-shadow(0 0 10px#fffdef);
}
    
